/** ************************* **/
/** Froont widget base styles **/
/** ************************* **/
.fr-widget h1,
.fr-widget h2,
.fr-widget h3,
.fr-widget h4,
.fr-widget h5,
.fr-widget h6,
.fr-widget p {
  margin: 0;
}
html,
body,
button,
input,
select,
textarea {
  font-family: "PT Sans", Tahoma, Verdana, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input:focus,
textarea:focus {
  outline: none;
}
.b-content {
  font-size: 1.6em;
  padding-top: 0.02px;
  min-height: 100%;
  margin: 0 auto -50px;
  /* the bottom margin is the negative value of the footer's height */
  padding-bottom: 50px;
}
.b-content.loading {
  opacity: 0;
}
.b-content:after {
  content: ".";
  display: none;
  clear: both;
  line-height: 0;
  height: 0;
}
.b-content.not-in-preview {
  padding-bottom: 0;
}
a {
  color: #000;
  text-decoration: underline;
}
.fr-wf {
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
  word-break: break-word;
}
.wf-loading .fr-wf {
  opacity: 0 !important;
}
.wf-inactive .fr-wf,
.wf-active .fr-wf {
  opacity: 1;
}
.fr-widget:after,
.fr-widget:before {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fr-widget {
  display: block;
}
.fr-text * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  font-size: 21px;
}

.fr-text-long * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: center;
  font-size: 31px;
}

.fr-text2 * {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  text-align: center;
  color: #FFFFFF;
  font-size: 66px;
  margin-top: 60px;
}

.fr-text-vimeo * {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  text-align: center;
  color: #FFFFFF;
  font-size: 46px;
  margin-top: 60px;
}

.fr-text-twitter * {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  text-align: center;
  color: #000000;
  font-size: 66px;
  margin-top: 60px;
  cursor:pointer;
}

.fr-text-footer * {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  text-align: center;
  color: #FFFFFF;
  font-size: 26px;
  margin-top: 60px;
  cursor:pointer;
}

.twitter_feed_embed{
  margin-top: -75px;
  margin-bottom: 50px;
}

.fr-link {
  text-decoration: none;
}
.fr-text i {
  font-style: italic;
}
.fr-text u {
  text-decoration: underline;
}
.fr-text del,
.fr-text s,
.fr-text strike {
  text-decoration: line-through;
}
.fr-text b,
.fr-text strong,
.fr-text h1,
.fr-text h2,
.fr-text h3,
.fr-text h4,
.fr-text h5,
.fr-text h6 {
  font-weight: bold;
}
.fr-img {
  line-height: 0;
}
.fr-img img {
  width: 100%;
  max-width: 100%;
}
.fr-svg svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.fr-svg-inner svg {
  position: absolute;
}
.fr-grid > .fr-widget {
  float: left;
}
.fr-video-inner {
  position: relative;
}
.fr-video-inner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fr_hover-animation {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background, color, border-radius;
  -moz-transition-property: background, color, border-radius;
  -o-transition-property: background, color, border-radius;
  transition-property: background, color, border-radius;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.fr-video-inner p {
  display: none;
}
.fr-widget-hover-opacity-60:hover {
  opacity: 0.6;
}
.fr-widget-hover-scale-up:hover {
  transform: scale(1.1);
}
.fr-copyright-footer {
  bottom: 0;
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.fr-copyright-footer.fixed {
  position: fixed;
  left: 0;
}
.fr-copyright-footer > .fr-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #242424;
}
.fr-copyright-footer .fr-made-with-froont {
  width: auto;
  font-family: Arial;
  font-size: .55rem;
  text-align: center;
  letter-spacing: .14rem;
  margin: 0 auto;
  padding: 1.05rem 0 0.5rem 0;
  color: #979797;
}
.fr-copyright-footer .fr-made-with-froont .fr-text {
  min-width: 100%;
}
.fr-copyright-footer .fr-made-with-froont .fr-text .heart {
  font-size: .8rem;
}
.fr-copyright-footer .fr-bottom-em-spacer {
  height: 0.8rem;
  background: #242424;
}
.fr-fork-on-froont {
  position: absolute;
  right: 0;
  top: 0;
  width: 115px;
  height: 115px;
  background-image: url('//froont.com/_static/images/fork-ribbon.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10000;
}
.fr-fork-on-froont:hover {
  background-position: 0 -115px;
}

/** ******************************** **/
/** End of Froont widget base styles **/
/** ******************************** **/

/** ************************* **/
/** Widget styles             **/
/** ************************* **/
.fr_puculo {
  display: block;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  background: #ffffff;
  min-height: 39.125em
}
.fr_gamera {
  float: none;
  display: block;
  width: 90%;
  margin-top: 12em;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}
.fr_gamera2 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  margin-bottom: 60px;
}
.fr_jawafu {
  display: block;
  width: auto;
  font-family: Montserrat;
  text-align: center;
  margin-top: 2.375em;
  margin-right: auto;
  margin-left: 0;
  color: #282828
}
.fr_jawafu .fr-text {
  min-width: 100%
}
.fr_nahori {
  float: none;
  display: block;
  width: 50%;
  margin-top: 1.1875em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  max-width: 60px
}
.fr_jibani {
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 9em;
  padding-bottom: 9em;
  background: #FFFCC2;
  min-height: 26.9375em
}

.fr_jibani2{
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 9em;
  padding-bottom: 9em;
  background: #9D9A6F;
  min-height: 26.9375em
}

.fr_jibani3{
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 9em;
  padding-bottom: 9em;
  background: #6F969D;
  min-height: 26.9375em
}

.fr_dubiji {
  float: none;
  display: block;
  width: 90%;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.4em;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  color: #282828;
  max-width: 700px
}
.fr_dubiji .fr-text {
  min-width: 100%
}
.fr_rosesa {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-repeat: no-repeat;
  background-image: url(../images/thumbnail/f1000020.JPG_1840x1232.JPG);
  background-position: center top;
  background-size: cover;
  background-attachment: scroll;
  min-height: 38em
}
.fr_tawojo {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px
}
.fr_buvusi {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  background: #000000;
}
.fr_puvuka {
  float: none;
  display: block;
  width: 90%;
  margin-top: .03125em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4em;
  padding-bottom: 4em;
  max-width: 800px
}
.fr_dudabe {
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  background: #fa995d;
  min-height: 38.8125em
}
.fr_neromo {
  float: none;
  display: block;
  width: 90%;
  margin-top: 4em;
  margin-right: auto;
  margin-bottom: 4em;
  margin-left: auto;
  max-width: 450px
}
.fr_fitere {
  display: block;
  width: auto;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.75em;
  text-align: center;
  margin-right: auto;
  margin-left: auto
}
.fr_fitere .fr-text {
  min-width: 100%
}
.fr_hodeka {
  float: none;
  display: block;
  width: 90%;
  font-family: Raleway;
  font-size: .75em;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_hodeka .fr-text {
  min-width: 100%
}
.fr_rigese {
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 5em;
  padding-bottom: 5em;
  background: #391819;
  min-height: 19.4375em
}

.twitter_bird{
  cursor:pointer;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .fr_gamera {
    margin-top: 9em
  }
}

/** ******************************** **/
/** End of widget styles             **/
/** ******************************** **/